$color1: #ffffff;
$color2: #f9f9f9;
$color3: #a4a4a4;
$color4: #eae1e5;
$color5: #c1255a;
$color6: #cccccc;
$color7: #517f9c;
$color8: #dcd8d8;

:root {
	--c1: #{$color1};
	--c2: #{$color2};
	--c3: #{$color3};
	--c4: #{$color4};
	--c5: #{$color5};
	--c6: #{$color6};
	--c7: #{$color7};
	--c8: #{$color8};
}
