@import './../../../../assets/scss/colors.scss';

.app-work-flow {
	background-color: var(--c2);
	display: flex;
	flex-wrap: wrap;
	padding: 15px 15px 5px;

	.app-all {
		align-items: flex-start;
		display: flex;
		margin-top: 10px;

		.app-values {
			p {
				margin: 0;

				&:last-child {
					margin-top: 5px;
				}
			}
		}

		.app-percentage {
			background-color: var(--c3);
			border-radius: 50%;
			height: 40px;
			margin: 0 15px;
			text-align: center;
			width: 40px;

			p {
				color: var(--c1);
				font-size: 13px;
				margin: 0;
				padding-top: 12px;
			}
		}

		.app-curly-bracket {
			display: block;
			margin-right: 20px;
			width: 12px;
		}
	}

	.app-buckets {
		.app-bucket {
			align-items: center;
			cursor: pointer;
			display: flex;
			margin-bottom: 5px;
			min-width: 265px;

			h4,
			p {
				margin: 0;
			}

			.app-values {
				color: var(--c3);
				margin-left: 5px;

				&.app-active {
					color: var(--c5);
				}
			}

			.app-forward {
				display: block;
				float: right;
				margin-left: auto;
				padding: 0 20px 0 40px;
				width: 20px;

				&.app-hide {
					display: none;

				}
			}
		}

		.app-checkboxes {
			display: flex;
			flex-wrap: wrap;
			max-width: 265px;

			label,
			input {
				color: var(--c5);
			}

			.app-checkbox {
				cursor: pointer;
				display: block;
				font-size: 14px;
				margin-bottom: 10px;
				margin-right: 10px;
				padding-left: 25px;
				position: relative;
				user-select: none;

				input {
					cursor: pointer;
					height: 0;
					opacity: 0;
					position: absolute;
					width: 0;

					&:checked {
						&~.app-checkmark {
							&::after {
								display: block;
							}
						}
					}
				}

				.app-checkmark {
					border: 2px solid var(--c7);
					border-radius: 4px;
					width: 13px;
					left: 0;
					position: absolute;
					top: 0;
					height: 13px;

					&::after {
						border: solid var(--c5);
						border-width: 0 2px 2px 0;
						content: '';
						display: none;
						height: 7px;
						left: 4px;
						position: absolute;
						top: 1px;
						transform: rotate(45deg);
						width: 3px;
					}
				}
			}
		}
	}

	.app-buttons {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		margin-top: 10px;
		width: 100%;

		.app-button {
			background-color: var(--c4);
			border: 1px solid var(--c4);
			border-radius: 17px;
			color: var(--c5);
			font-size: 15px;
			margin-bottom: 10px;
			margin-left: 10px;
			outline: none;
			padding: 6px 20px;
			text-decoration: none;

			&:first-child {
				margin-left: 0;
			}

			&:not(:disabled) {
				cursor: pointer;
			}

			&:not(:disabled):hover {
				background-color: var(--c5);
				color: var(--c1);
			}

			&:disabled {
				background-color: var(--c8);
				border: 1px solid var(--c8);
				color: var(--c1);
			}
		}
	}

	// media
	@media (max-width: 600px) {
		display: block;

		.app-all {
			align-items: center;
			flex-direction: column-reverse;
			flex-wrap: wrap-reverse;
			justify-content: center;
			width: 100%;

			.app-values {
				margin: 15px 0;
			}

			.app-curly-bracket {
				display: none;
			}
		}

		.app-buckets {
			margin: auto;

			.app-bucket {
				min-width: 100%;
			}

			.app-checkboxes {
				max-width: 100%;
			}
		}

		.app-buttons {
			display: block;
			margin-top: 20px;

			.app-button {
				margin: 0 0 10px;
				padding: 8px 20px;
				width: 100%;

				&:last-child {
					margin-bottom: 15px;
				}
			}
		}
	}
}
